/*navbar css*/
nav {
    display: flex;
    align-items: center;
    background: var(--background);
    padding: 20px 50px;
}

/*desktop nav bar css*/
.desktop-navbar {
    position: fixed;
    width: 100%;
    padding: 0 75px;
    border: 1px solid var(--headline);
}

.navbar-logo {
    color: var(--headline);
    font-size: xx-large;
    text-decoration: none;
    font-family: Alice, serif;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 10px;
}

.desktop-contact-button-wrapper {
    margin-left: auto;
}

.nav-links{
    height: 12vh;
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
}

.nav-ul-li{
    font-family: IBMPlexMono-MediumItalic, serif;
    list-style-type: none;
    padding: 0 20px;
    display: flex;
}

.nav-ul-li-a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.nav-ul-li-a:hover{
    color: var(--primary);
    transition: .3s;
}

.nav-sub-menu {
    position: absolute;
    background-color: var(--background);
    margin-top: 48px;
    margin-left: -180px;
    border: 1px solid var(--headline);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.nav-sub-menu-group {
    padding: 16px;
}

.nav-sub-menu-header {
    align-items: center;
    font-family: IBMPlexMono-MediumItalic, serif;
    font-weight: normal;
    font-size: 14px;
    color: dimgrey;
    margin-bottom: 8px;
}

.nav-sub-menu-item {
    font-family: Roboto, serif;
    list-style-type: none;
    max-width: 270px;
    padding: 8px 0;
}

.mobile-vis{
    display: none;
}

.pointer {
    cursor: pointer;
}

/*mobile navbar css*/
.hamburger-menu{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

@media (max-width: 768px){
    .desktop-vis{
        display: none;
    }
    .mobile-vis {
        display: revert;
    }
    .mobile-navbar {
        display: flex;
        position: fixed;
        width: 100vw;
        align-items: center;
        height: 12vh;
        background-color: var(--component-background);
        border: 1px solid var(--headline);
        padding: 0 20px;
    }
    .nav-links {
        background-color: var(--component-background);
        border-top: 1px solid var(--headline);
        border-bottom: 1px solid var(--headline);
    }
    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: 12vh;
        right: 0;
        left: 0;
        height: 88vh;
        overflow-y: scroll;
        background: var(--component-background);
        border: 1px solid var(--headline);
        border-top: unset;
        z-index: 2;
    }
    .nav-ul-li {
        width: 100%;
        border-bottom: 1px solid var(--primary);
    }
    .nav-ul-li-a {
        font-size: 20px;
        padding: 16px 0;
    }
    .nav-ul-li-a:hover{
        color: white;
        transition: .3s;
    }
    .nav-sub-menu {
        flex-direction: column;
        position: unset;
        background-color: unset;
        padding: unset;
        margin: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 1px solid var(--primary);
        align-self: unset;
        align-items: unset;
    }
    .nav-sub-menu-group {
        padding: unset;
    }
    .nav-sub-menu-header {
        align-items: center;
        font-family: IBMPlexMono-MediumItalic, serif;
        font-weight: normal;
        font-size: 15px;
        padding: 16px 20px;
        color: var(--alt-text);
        margin-bottom: unset;
    }
    .nav-sub-menu-item {
        list-style-type: none;
        font-family: IBMPlexMono-MediumItalic, serif;
        max-width: unset;
        padding: 0 20px;
    }
}