/*navbar css*/
nav {
    display: flex;
    align-items: center;
    background: var(--background);
    padding: 20px 50px;
}

/*desktop nav bar css*/
.desktop-navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 0 6vw;
    border: 1px solid var(--headline);
    display: grid;
}

.navbar-logo {
    display: flex;
    color: var(--headline);
    align-self: center;
    font-size: x-large;
    text-decoration: none;
    font-family: CooperBT-Regular, serif;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    padding-right: 10px;
}

.desktop-contact-button-wrapper {
    display: flex;
    align-self: center;
    margin-left: auto;
}

.nav-links{
    height: 86px;
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
}

.nav-ul-li{
    list-style-type: none;
    padding: 0 20px;
    display: flex;
}

.nav-ul-li-a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    color: black;
    width: auto;
}

.nav-ul-li-a:hover{
    color: var(--primary);
    transition: .3s;
}

.nav-sub-menu {
    position: absolute;
    background-color: var(--background);
    margin-top: 35px;
    border: 1px solid var(--headline);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.nav-sub-menu-group {
    min-width: 250px;
    padding: 16px;
}

.nav-sub-menu-header {
    align-items: center;
    font-family: IBMPlexMono-MediumItalic, serif;
    font-weight: normal;
    font-size: 14px;
    color: dimgrey;
    margin-bottom: 8px;
}

.nav-sub-menu-item {
    font-family: Roboto, serif;
    list-style-type: none;
    max-width: 270px;
    padding: 8px 0;
}

.mobile-vis{
    display: none;
}

.pointer {
    cursor: pointer;
}

/*mobile navbar css*/
.hamburger-menu{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

@media (max-width: 768px){
    .desktop-vis{
        display: none;
    }
    .mobile-vis {
        display: revert;
    }
    .mobile-navbar {
        z-index: 3;
        display: grid;
        position: fixed;
        width: 100%;
        height: 86px;
        background-color: var(--primary);
        border: 1px solid var(--headline);
    }
    .navbar-logo-svg {
        position: fixed;
        width: 240px;
        height: 40px;
        left: calc(100vw/2 - 120px);
        z-index: 10;
    }
    .navbar-logo-text {
        font: 30px CooperBT-Regular, Arial;
        fill: white;
        stroke: black;
        stroke-width: 1px;
        stroke-linejoin: round;
    }
    .nav-links {
        height: unset;
        border-top: unset;
        border-bottom: unset;
    }
    .nav-ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 86px;
        right: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background: var(--primary);
        border: 1px solid var(--headline);
        border-top: unset;
        padding-right: unset;
        z-index: 2;
    }
    .nav-ul-li {
        width: 100%;
        border-bottom: 1px solid var(--darker);
    }
    .nav-ul-li-a {
        font-size: 20px;
        padding: 16px 0;
    }
    .nav-ul-li-a:hover{
        color: white;
        transition: .3s;
    }
    .nav-sub-menu {
        flex-direction: column;
        position: unset;
        background-color: unset;
        padding: unset;
        margin: unset;
        border: unset;
        border-radius: unset;
        border-bottom: 1px solid var(--darker);
        align-self: unset;
        align-items: unset;
    }
    .nav-sub-menu-group {
        padding: unset;
    }
    .nav-sub-menu-header {
        align-items: center;
        font-family: IBMPlexMono-MediumItalic, serif;
        font-weight: normal;
        font-size: 15px;
        padding: 16px 20px;
        color: var(--alt-text);
        margin-bottom: unset;
    }
    .nav-sub-menu-item {
        list-style-type: none;
        max-width: unset;
        padding: 0 20px;
    }
}