pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* GENERAL PAGE STYLING */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 0 6vw;

  background-color: var(--background);
  border-left: 1px solid var(--headline);
  border-right: 1px solid var(--headline);
}

.page-y-padding {
  /*to accommodate the sticky navbar*/
  padding-top: calc(86px + min(4vw, 0.04*(var(--max-content-width))));
  padding-bottom: min(4vw, calc(0.04*(var(--max-content-width))));
}

.content {
  display: flex;
  align-self: center;
  justify-self: center;
  width: min(var(--max-content-width), 88vw);
}

.content-for-no-x-padding-pages {
  display: flex;
  align-self: center;
  justify-self: center;
  width: min(var(--max-content-width), 100vw);
}

.page-header {
  align-content: center;
  text-align: left;

  color: var(--headline);
  font-family: CooperBT-Regular, sans-serif;
  font-size: xx-large;
  letter-spacing: 0.1rem;
}

.page-section-header {
  text-align: center;
  color: var(--headline);
  font-family: CooperBT-Regular, sans-serif;
  letter-spacing: 0.1rem;
}

.page-body {
  padding: 1rem 0;
  text-align: left;
  font-size: 18px;
  font-weight: lighter;
}

/*Mobile GENERAL PAGE STYLING*/
@media (max-width: 767px) {
  .page {
    flex-direction: column;
    padding: calc(86px + 4vw) 5vw 4vw 5vw;
  }
  .page-header {
    font-size: x-large;
  }
}

/*HOME PAGE STYLING*/
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(86px + min(4vw, 0.04*var(--max-content-width))) 6vw 0 6vw; /*this is to accommodate the sticky navbar*/
  min-height: 65vh;

  background-color: var(--background);
  border-left: 1px solid var(--headline);
  border-right: 1px solid var(--headline);
}

/*HERO SECTION*/
.page-hero-section {
  align-self: center;
  max-width: min(88vw, 750px);
  margin: 6rem 0 3rem 0;
  line-height: 200%;
}

.page-hero-header {
  flex-direction: column;
  justify-content: center;

  text-align: left;
  color: var(--headline);
  font-family: CooperBT-Regular, sans-serif;
  font-size: xxx-large;
  letter-spacing: 2px;
  line-height: 120%;
}

.page-section-header-standout {
  color: var(--primary);
}

/*SKILLS SECTION*/
.home-page-no-x-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: min(4vw, calc(0.04*var(--max-content-width)));

  background-color: var(--background);
  border: 1px solid var(--headline);
  border-top: unset;
}

.skills-header {
  margin: 4rem 0 1rem 0;
  text-align: center;
  letter-spacing: 2px;
}

/*Mobile HOME PAGE STYLING*/
@media (max-width: 767px) {
  .page-hero-section {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
    line-height: 180%;
  }

  .page-hero-header {
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-size: 30px;
  }

  .page-hero-body {
    text-align: center;
    font-size: 16px;
  }

  .skills-header {
    margin-top: 1rem;
  }
}

/*CONTACT FORM PAGE*/
.contact-header {
  font-size: xx-large;
  margin-top: 2rem;
}

.form-wrapper {
  align-self: center;
  width: 100%;
  max-width: 600px;
}

.form-field {
  width: 100%;
  margin: 0.25rem 0.25rem;
  padding: 0.5rem;

  background: white;
  border: 1px solid var(--headline);
  border-radius: 10px;
  font-family: monospace;
}

.alert-success {
  margin-left: 0.5rem;
  margin-top: 0.75rem;

  color: var(--primary);
  font-size: 12px;
  font-family: monospace;
}

/* FOOTER STYLING */
.footer {
  display: grid;
  align-content: end;
  min-height: 180px;
  padding: 1rem;

  background-color: var(--headline);
  color: var(--background);
  font-size: 6px;
}

.footer-icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
}

.footer-icon {
  margin: 0 0.25rem;
}

/*STYLED BUTTON*/
.responsive-button{
  margin-left: auto;
  display: block;
  padding: 0 16px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  outline-style: solid;
  outline-width: 1px;
  border: var(--headline);
  color: var(--headline);
  background: var(--secondary);
  font-size: 16px;
  font-family: CooperBT-Bold, serif;
  letter-spacing: 1px;
}

.responsive-button:hover {
  transition: .20s;
  box-shadow: 6px 6px 0 var(--headline);
  transform: translate(-0.125em, -0.125em);
}

.responsive-button:active {
  transition: .05s;
  box-shadow: 3px 3px 0 #7a7a7a;
  transform: translate(0, 0);
}

/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(Assets/Fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'IBMPlexMono-Italic';
  src: local('IBMPlexMono-Italic'), url(Assets/Fonts/IBMPlexMono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'IBMPlexMono-MediumItalic';
  src: local('IBMPlexMono-MediumItalic'), url(Assets/Fonts/IBMPlexMono-MediumItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'CooperBT-Light';
  src: local('CooperBT-Light'), url(Assets/Fonts/CooperBT-Light.woff2) format('woff');
}
@font-face {
  font-family: 'CooperBT-Regular';
  src: local('CooperBT-Regular'), url(Assets/Fonts/CooperBT-Regular.woff2) format('woff');
}
@font-face {
  font-family: 'CooperBT-Bold';
  src: local('CooperBT-Bold'), url(Assets/Fonts/CooperBT-Bold.woff2) format('woff');
}
@font-face {
  font-family: 'CooperBT-Boldest';
  src: local('CooperBT-Boldest'), url(Assets/Fonts/CooperBT-Boldest.woff2) format('woff');
}